# .gitignore for the lightbar_project

# Ignore the .gitignore file
.gitignore

#   embedded 
#       ClockCalendar Ignored Files
            embedded/ClockCalendar/gitBash.txt
            embedded/ClockCalendar/hello_rtc.c
            embedded/ClockCalendar/build/
#      LEDs

#       Logger

#       Sensor

#       UART

#   host